mixin spinner
  .spinner
    .spin
      .mask
        .circle

mixin view(id, c="")
  .view-wrapper.hidden(id=`view-${id}` class=c)
    block
      
mixin view-preview(text)
  .view-placeholder
    .text= text
      
mixin modal(id)
  .modal-wrapper.hidden(id=`modal-${id}`)
    .content-wrapper
      #btn-close
        .line.line-1
        .line.line-2
      +modal-part("loading")
        .spinner-wrapper
          +spinner
      if block
        block
      
mixin modal-part(id)
  .modal-part.hidden(class=`modal-part-${id}`)
    if block
      block
    
mixin label-input(id, text, type)
  .input-wrapper
    .label= text
    .input 
      if block
        block
      else
        input(type=type name=id)
          
-
  themeColor = "#B8860B";
  iconLink = faviconLink = null;
  siteName = "Tahanan Project";
  siteDescription = "The Tahanan project is dedicated to raising awareness on the experiences of Filipino Third Culture Kids (TCKs) from the Middle East.";
  siteImage = "http://tahanan.org/img/preview.jpg";
  twitterHandle = "@yunilao";
  siteUrl = "http://tahanan.org"

doctype
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    meta(developer="Mike del Castillo" site="http://mikedc.io")
      
    meta(name="msapplication-tap-highlight" content="no")
      
    meta(name="theme-color" content=themeColor)
    meta(name="apple-mobile-web-app-status-bar-style" content=themeColor)
    meta(name="mobile-web-app-status-bar-style" content=themeColor)
      
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    
    link(rel="apple-touch-icon" sizes="192x192" href=iconLink)
    link(rel="shortcut icon" href=faviconLink type="image/x-icon")
    link(rel="icon" href=faviconLink type="image/x-icon")
      
    meta(name="og:title" content=title)
    meta(name="og:type" content="website")
    meta(name="og:url" content=siteUrl)
    meta(name="og:image" content=siteImage)
    meta(name="og:site_name" content=siteName)
    meta(name="og:description" content=siteDescription)

    meta(name="fb:page_id" content="457973194254622")
    
    meta(name="google-analytics" content="")
      
    meta(name="format-detection" content="telephone=no")
    
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterHandle)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=siteDescription)
    meta(name="twitter:creator" content=twitterHandle)

    meta(name="twitter:image:src" content=siteImage)
    title Tahanan Project
    link(rel="stylesheet" type="text/css" href="css/main.css" + "?v=" + (new Date().getTime()))
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115608525-1"></script>
    script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-115608525-1');
  body.logged-out
    include navigation
    .loading-wrapper
      +spinner
    +view("landing", "non-auth-content")
      include views/landing
    +view("map", "auth-content")
      include views/map
    +view("featured", "auth-content")
      include views/featured
    +view("landmark", "auth-content")
      include views/landmark
    +view("about")
      include views/about
    +view("about-faq")
      include views/faq
    +view("user", "auth-content")
      include views/user
    include modals
    - 
      let scripts = [
        "js/app.js"
      ];
    each url in scripts
      script(src=url + "?v=" + (new Date().getTime()))
