mixin spinner
  .spinner
    .spin
      .mask
        .circle

mixin view(id, c="")
  .view-wrapper.hidden(id=`view-${id}` class=c)
    block
      
mixin view-preview(text)
  .view-placeholder
    .text= text
      
mixin modal(id)
  .modal-wrapper.hidden(id=`modal-${id}`)
    .content-wrapper
      #btn-close
        .line.line-1
        .line.line-2
      +modal-part("loading")
        .spinner-wrapper
          +spinner
      if block
        block
      
mixin modal-part(id)
  .modal-part.hidden(class=`modal-part-${id}`)
    if block
      block
    
mixin label-input(id, text, type)
  .input-wrapper
    .label= text
    .input 
      if block
        block
      else
        input(type=type name=id)
          
doctype
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    title Tahanan Project
    link(rel="stylesheet" type="text/css" href="css/main.css" + "?v=" + (new Date().getTime()))
  body.logged-out
    include navigation
    .loading-wrapper
      +spinner
    +view("landing", "non-auth-content")
      include views/landing
    +view("map", "auth-content")
      include views/map
    +view("featured", "auth-content")
      include views/featured
    +view("landmark", "auth-content")
      include views/landmark
    +view("about")
      include views/about
    +view("about-faq")
      +view-preview("FAQs")
    +view("about-content")
      +view-preview("Content")
    +view("me", "auth-content")
      include views/me
    +view("me-memories")
      include views/me-memories
    include modals
    - 
      let scripts = [
        "js/app.js"
      ];
    each url in scripts
      script(src=url + "?v=" + (new Date().getTime()))
